services:
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: always
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../../config/dockge:/app/data
      - ../../apps:/stacks
    environment:
      - DOCKGE_STACKS_DIR=/stacks
