# Ignore Secrets
.env

# Ignore Junk
node_modules/
npm-debug.log
.DS_Store

# Ignore Generated Config (Keep source files, ignore runtime data)
config/tunnel/
config/fb/
config/qbit/
config/dozzle/

# Ignore Local Logs
dev_log.md

# Ignore Heavy Data
downloads/

# WhatsApp Credentials (KEEP PRIVATE)
apps/whatsapp-bot/auth_info_baileys/
apps/whatsapp-bot/chat_db.json
apps/whatsapp-bot/store/

# Keep backup filter
!config/backup_filter.txt