# Ignore Secrets
.env

# Ignore Junk
node_modules/
npm-debug.log
.DS_Store

# Ignore Heavy Data (Don't upload large files to GitHub!)
downloads/
config/
filebrowser.db

# WhatsApp Credentials (KEEP PRIVATE)
whatsapp-bot/auth_info_baileys/
whatsapp-bot/chat_db.json
whatsapp-bot/store/