version: "3.8"
services:
  tunnel:
    container_name: my-vps-stack-tunnel
    image: cloudflare/cloudflared
    restart: always
    command: tunnel run
    # Mount the config file we will generate
    volumes:
      - ./config/tunnel:/etc/cloudflared
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    depends_on:
      - filebrowser
      - qbittorrent
      - n8n
  n8n:
    image: n8nio/n8n:latest
    restart: always
    ports: ["5678:5678"]
    volumes:
      - n8n_data:/home/node/.n8n
    environment:
      - N8N_HOST=${DOMAIN_NAME}

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    environment:
      - PUID=0
      - PGID=0
      - WEBUI_PORT=8080
    volumes:
      - ./config/qbit:/config
      - /root/Seedbox:/downloads # Points to your existing downloads
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    restart: always

  filebrowser:
    image: filebrowser/filebrowser
    user: 0:0
    volumes:
      - /root/Seedbox:/srv
      - ./config/fb/filebrowser.db:/database.db
      - ./config/fb/settings.json:/config/settings.json
    ports: ["8081:80"]
    restart: always

  whatsapp-bot:
    build: ./whatsapp-bot
    restart: always
    volumes:
      - ./whatsapp-bot/auth_info_baileys:/usr/src/app/auth_info_baileys
      - ./whatsapp-bot/chat_db.json:/usr/src/app/chat_db.json
    # environment:
    #   - BOT_TOKEN=${BOT_TOKEN}

volumes:
  n8n_data:
