services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 4 * * *
    healthcheck:
      test: [ "CMD-SHELL", "pgrep -x watchtower || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
