services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ../../config/dozzle/users.yml:/data/users.yml
    ports:
      - "9999:8080"
    environment:
      DOZZLE_AUTH_PROVIDER: simple
