name: Deploy to VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # 1. Go to the project folder
            cd /root/my-vps-stack
            
            # 2. Get the latest code
            git pull origin main
            
            # 3. Update the containers (Rebuild if needed)
            docker compose up -d --build --remove-orphans
            
            # 4. Clean up old junk images
            docker image prune -f